{% extends "base.html" %}
{% load static %}
{% block content %}

<main>
    <!-- page title area  -->
    <section class="page-title-area breadcrumb-spacing" data-background="/static/img/bg/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-9">
                    <div class="page-title-wrapper text-center">
                        <h3 class="page-title mb-25">Category</h3>
                        <div class="breadcrumb-menu">
                            <nav aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
                                <ul class="trail-items">
                                    <li class="trail-item trail-begin"><a href="home.html"><span>Home</span></a></li>
                                    <li class="trail-item trail-end"><span>{{categoryDetail.title}}</span></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->

    <!-- blog area start  -->

    {% if posts %}
    <section class="blog-2 pt-120 pb-115">
        <div class="container">
            <div class="row">
                {% for pt in posts %}
                <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6 mb-30">
                    <div class="kblog">
                        <div class="kblog-img">
                            <img src="{% if pt.feature_image %}{{ pt.feature_image.url }}{% else %}/static/img/blog/default-image.jpg{% endif %}"
                                class="img-fluid" alt="{{ pt.title }}">
                            <span>{{ pt.created_at|date:"d M" }}</span>
                        </div>
                        <div class="kblog-text">
                            <div class="kblog-meta">
                                <a href="blog-details.html"><i class="fal fa-user-circle"></i>{{ pt.author.username }}</a>
                                <a href="blog-details.html"><i class="fal fa-comments"></i> {{pt.comments.count}} Comments</a>
                            </div>
                            <h3 class="kblog-text-title mb-20"><a href="blog-details.html">{{ pt.title }}</a></h3>
                            <div class="kblog-categories mb-10">
                                Categories:
                                <a href="{% url 'blog_details' slug=pt.slug %}">{{ pt.category.title }}</a>{% if not forloop.last %}{% endif %}

                            </div>
                            <div class="kblog-tags mb-20">
                                Tags:
                                {% for tag in pt.tags.all %}
                                <!-- {{tag}} -->
                                <a href="{% url 'blog_details' slug=pt.slug %}"></a>{{ tag }}{% if not forloop.last %}{% endif %}
                                {% endfor %}
                            </div> 
                            <p class="kblog-description mb-15">
                                description:
                              <a href="{% url 'blog_details' slug=pt.slug %}" ></a>
                              {{ pt.description }}
                            </p>

                            <div class="kblog-text-link">
                                <a href="{% url 'blog_details' slug=pt.slug %}">Read more <i
                                        class="far fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="basic-pagination mt-20 wow fadeInUp" data-wow-delay=".5s"
                        style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <ul>
                            <li><span aria-current="page" class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="page-numbers" href="#">3</a></li>
                            <li><a class="next page-numbers" href="#">
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
      </div>
    </section>

</main>
{% endblock %}