<header>
    <div class="transparent-header">
        <div class="container-fluid">
            <div class="header-space">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-8">
                        <div class="header-logo">
                            <a href="{% url 'home' %}"><img src="/static/img/logo/logo-white.png" class="img-fluid"
                                    alt="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="main-menu">
                            <nav id="mobile-menu">
                                <ul>
                                    <li class="menu-item-has-children"><a href="/">Home</a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="/home.html">Home Style 1</a></li>
                                            <li><a href="/index-2.html">Home Style 2</a></li>
                                        </ul> -->
                                    </li>
                                  
                                    <li><a href="{% url 'about' %}">About</a></li>
                                    <!-- <li class="menu-item-has-children"><a href="/service.html">Services</a>
                                        <ul class="sub-menu">
                                            <li><a href="/service.html">Services</a></li>
                                            <li><a href="/service-details.html">Services details</a></li>
                                        </ul>
                                    </li> -->
                                    <!-- <li class="menu-item-has-children"><a href="/project.html">Projects</a>
                                        <ul class="sub-menu">
                                            <li><a href="/project.html">Project</a></li>
                                            <li><a href="/project-details.html">Project details</a></li>
                                        </ul>
                                    </li> -->
                                    <li class="menu-item-has-children"><a href="{% url 'blog' %}">Blog</a>
                                        </a>
                                        <!-- <ul class="sub-menu"> -->
                                            <!-- <li><a href="/blog.html">Blog</a></li> -->
                                            <li><a href="/blog_details.html"></a></li>
                                        <!-- </ul> -->
                                         
                                    </li>
                                    <li class="menu-item-has-children"style="margin-left:-50px;"><a href="/contact">Contact</a>
                                        <!-- <ul class="sub-menu">
                                            <li><a href="/home.html">Home Style 1</a></li>
                                            <li><a href="/index-2.html">Home Style 2</a></li>
                                        </ul> -->
                                    </li>
                                    <!-- <li><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="/pricing.html">Pricing</a></li>
                                            <li><a href="/faq.html">Faq</a></li>
                                            <li><a href="/about.html">About</a></li>
                                            <li><a href="/project.html">Project</a></li>
                                            <li><a href="/project-details.html">Project Details</a></li>
                                            <li><a href="/contact.html">Contact</a></li>
                                        </ul>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                        <div class="side-menu-icon d-xl-none text-end">
                            <button class="side-toggle"><i class="far fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="col-xl-4 d-none d-xl-block">
                        <div class="header-right text-end">
                            <div class="header-social">
                                <a href="https://x.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/Meta/" target="_blank"><i class="fab fa-facebook"></i></a>
                                <a href="https://in.pinterest.com/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                            <div class="header-search">
                                <a class="search-btn nav-search search-trigger" href="#"><i
                                        class="far fa-search"></i></a>
                            </div>
                            <div class="header-btn">
                                <a href="about.html" class="theme-btn theme-btn-small">Free Estimate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>