{% extends "base.html" %}
{% load static %}
{% block title %}home page{% endblock %}

{% block content %}

<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Contact Info</h4>
                    <ul>
                        <li><img src="/static/img/icon/sidebar-icon-1.png" class="img-fluid" alt="icon-img">86 broklyn
                            street road, New York</li>
                        <li><img src="/static/img/icon/footer-icon-1.png" class="img-fluid" alt="icon-img"><a
                                href="mailto:info@sycho24.com">needhelp@company.com</a></li>
                        <li><img src="/static/img/icon/footer-icon-2.png" class="img-fluid" alt="icon-img"><a
                                href="tel:926668880000">92 666 888 0000</a></li>
                    </ul>
                    <div class="sidebar__menu--social">
                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>

<!-- Fullscreen search -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fal fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="Search Entire Store...">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end fullscreen search -->

<main>
    <!-- slider area start here -->
    <section class="slider-area fix position-relative">
        <div class="slider-active swiper-container">
            <div class="swiper-wrapper">
                <div class="single-slider slider-height swiper-slide" data-swiper-autoplay="10000">
                    <div class="slide-bg" data-background="/static/img/slider/slider-1.jpg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="kslider z-index">
                                    <h5 class="kslider--subtitle mb-25" data-animation="fadeInUp" data-delay="0.3s">
                                        Welcome to digital agency</h5>
                                    <h2 class="kslider--title mb-40" data-animation="fadeInUp" data-delay="0.5s">Web
                                        Design <br>Agency</h2>
                                    <div class="kslider--btn" data-animation="fadeInUp" data-delay="0.7s">
                                        <a href="service.html" class="theme-btn">Discover more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-shape shape-1"><img src="/static/img/slider/slider-shape-1.png" class="img-fluid"
                            alt="shape-img"></div>
                    <div class="slide-shape shape-2"><img src="/static/img/slider/slider-shape-2.png" class="img-fluid"
                            alt="shape-img"></div>
                </div>
                <div class="single-slider slider-height swiper-slide" data-swiper-autoplay="10000">
                    <div class="slide-bg" data-background="/static/img/slider/slider-2.jpg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="kslider z-index">
                                    <h5 class="kslider--subtitle mb-25" data-animation="fadeInUp" data-delay="0.3s">
                                        Welcome to digital agency</h5>
                                    <h2 class="kslider--title mb-40" data-animation="fadeInUp" data-delay="0.5s">Web
                                        Design <br>Agency</h2>
                                    <div class="kslider--btn" data-animation="fadeInUp" data-delay="0.7s">
                                        <a href="service.html" class="theme-btn">Discover more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-shape shape-1"><img src="/static/img/slider/slider-shape-1.png" class="img-fluid"
                            alt="shape-img"></div>
                    <div class="slide-shape shape-2"><img src="/static/img/slider/slider-shape-2.png" class="img-fluid"
                            alt="shape-img"></div>
                </div>
                <div class="single-slider slider-height swiper-slide" data-swiper-autoplay="10000">
                    <div class="slide-bg" data-background="/static/img/slider/slider-3.jpg"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="kslider z-index">
                                    <h5 class="kslider--subtitle mb-25" data-animation="fadeInUp" data-delay="0.3s">
                                        Welcome to digital agency</h5>
                                    <h2 class="kslider--title mb-40" data-animation="fadeInUp" data-delay="0.5s">Web
                                        Design <br>Agency</h2>
                                    <div class="kslider--btn" data-animation="fadeInUp" data-delay="0.7s">
                                        <a href="service.html" class="theme-btn">Discover more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slide-shape shape-1"><img src="/static/img/slider/slider-shape-1.png" class="img-fluid"
                            alt="shape-img"></div>
                    <div class="slide-shape shape-2"><img src="/static/img/slider/slider-shape-2.png" class="img-fluid"
                            alt="shape-img"></div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="slider-paginations slide-dots"></div>
        </div>
    </section>
    <!-- slider area end here -->

    <!-- service area start here -->
    <section class="service-area pt-120 pb-130" data-background="/static/img/service/service-bg.jpg">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xxl-5 col-lg-6">
                    <div class="kservice-text mb-50" data-aos="fade-right" data-aos-duration="1000">
                        <h5 class="kservice-text-subtitle mb-15">All Categories List</h5>
                        <h2 class="kservice-text-title mb-40">The Services <br>We’re Offering</h2>
                        <p class="mb-45">There are many variations of passages of lorem ipsum available but the majority
                            have suffered alteration in some form by injected humour.</p>
                        <div class="kservice-author">
                            <div class="kservice-author-img mr-30">
                                <img src="/static/img/service/service-author.png" class="img-fluid" alt="author-img">
                            </div>
                            <div class="kservice-author-sign">
                                <span>Jessica Brown</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-lg-6">
                    <div class="row custom-mar-20" data-aos="fade-down" data-aos-duration="1000">
                        <div class="col-sm-6 custom-pad-20">
                            <div class="kservice text-center mb-20">
                                <div class="kservice-icon">
                                    <i class="flaticon-analytics"></i>
                                </div>
                                <div class="kservice-content">
                                    <h5 class="kservice-content-title"><a href="service-details.html">Website
                                            <br>Development</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 custom-pad-20">
                            <div class="kservice text-center mb-20">
                                <div class="kservice-icon">
                                    <i class="flaticon-marketing"></i>
                                </div>
                                <div class="kservice-content">
                                    <h5 class="kservice-content-title"><a href="service-details.html">Graphic
                                            <br>Designing</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 custom-pad-20">
                            <div class="kservice text-center mb-20">
                                <div class="kservice-icon">
                                    <i class="flaticon-profile"></i>
                                </div>
                                <div class="kservice-content">
                                    <h5 class="kservice-content-title"><a href="service-details.html">SEO & Content
                                            <br>writting</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 custom-pad-20">
                            <div class="kservice text-center mb-20">
                                <div class="kservice-icon">
                                    <i class="flaticon-website"></i>
                                </div>
                                <div class="kservice-content">
                                    <h5 class="kservice-content-title"><a href="service-details.html">Digital
                                            <br>marketing</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service area end here -->

    <!-- cta area start here -->
    <section class="cta-area mt--60 z-index" data-aos="fade-up">
        <div class="container">
            <div class="cta-bg bg-theme">
                <div class="cta-number">
                    <div class="cta-number-icon mr-30">
                        <i class="flaticon-reaction"></i>
                    </div>
                    <div class="cta-number-text fix">
                        <span class="uppercase">Get a Free Consultation</span>
                        <h3><a href="tell:6668880000">666 888 0000</a></h3>
                    </div>
                </div>
                <div class="cta-description">
                    <p>Lorem ipsum dolor sit amet nsectetur
                        cing elituspe ndisse suscipit.</p>
                </div>
                <div class="cta-btn text-lg-end text-start">
                    <a href="service.html" class="theme-btn black-btn">Discover more</a>
                </div>
            </div>
        </div>
    </section>
    <!-- cta area end here -->

    <!-- about area start here -->
    <section class="about-area pt-120 pb-70 fix">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="kabout-img mb-50 mr-70" data-aos="zoom-out-up" data-swiper-autoplay="10000">
                        <div class="kabout-img-shape"></div>
                        <img src="/static/img/about/about-img-1.jpg" class="img-fluid z-index" alt="about-img">
                        <div class="kabout-img-small">
                            <img src="/static/img/about/about-img-2.jpg" class="img-fluid" alt="about-img">
                            <div class="kabout-img-small-icon play_btn">
                                <span>
                                    <i class="flaticon-idea"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="kabout mb-50" data-aos="zoom-out-down" data-swiper-autoplay="10000">
                        <div class="section-title-wrapper mb-45">
                            <h5 class="section-subtitle mb-20">get to know us</h5>
                            <h2 class="section-title mb-35">Welcome to digital <br>agency</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the when an unknown was
                                popularised.</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="kabout-service mb-30">
                                    <h4 class="kabout-service-title">The Best Services</h4>
                                    <p>Lorem ipsum dolor sited amet, consectetur notted.</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="kabout-service mb-30">
                                    <h4 class="kabout-service-title">Expert Designers</h4>
                                    <p>Lorem ipsum dolor sited amet, consectetur notted.</p>
                                </div>
                            </div>
                        </div>
                        <ul class="mt-20 mb-55">
                            <li><i class="fal fa-check"></i> Entum estibulum dignissim posuere.</li>
                            <li><i class="fal fa-check"></i> If you are going to use a passage.</li>
                            <li><i class="fal fa-check"></i> Lorem Ipsum generators on the tend to repeat.</li>
                        </ul>
                        <div class="kabout-btn">
                            <a href="service.html" class="theme-btn border-btn">Discover more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about area end here -->

    <!-- project area strat here -->
    <section class="project-area bg-grey pt-115 pb-400 fix">
        <div class="common-shape-wrapper wow slideInRight animated" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="common-shape-inner"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title-wrapper mb-45">
                        <h5 class="section-subtitle mb-20">Our recent work</h5>
                        <h2 class="section-title">Work showcase</h2>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="lol text-md-end">
                        <!-- If we need navigation buttons -->
                        <div class="project-button-prev slide-prev"><i class="far fa-long-arrow-left"></i></div>
                        <div class="project-button-next slide-next"><i class="far fa-long-arrow-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-active swiper-container">
            <div class="swiper-wrapper">
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-1.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Graphic</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-2.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Web Design</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-3.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Web Development</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-4.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Networking</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-1.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Graphic</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-2.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Web Design</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="kproject swiper-slide">
                    <img src="/static/img/project/project-img-3.jpg" class="img-fluid" alt="project_img">
                    <div class="kproject-text">
                        <div class="kproject-text-content">
                            <span>Web Devolopment</span>
                            <h5 class="kproject-text-title"><a href="project-details.html">Fimlor Experience</a></h5>
                        </div>
                        <div class="kproject-text-icon">
                            <a href="project-details.html"><i class="fal fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project area end here -->

    <!-- video area start here -->
    <section class="video-area z-index">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-wrapper mb-45 text-center">
                        <h5 class="section-subtitle mb-20">one minute video</h5>
                        <h2 class="section-title mb-35">Watch video work</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="kvideo-wrapper" data-aos="zoom-in" data-aos-duration="1000">
                        <div class="kvideo" data-background="/static/img/bg/video-bg.jpg">
                            <div class="kvideo-sign text-center">
                                <a class="venobox" data-autoplay="true" data-vbtype="video"
                                    href="https://youtu.be/KgWzysP29Vg"><i class="fas fa-play"></i></a>
                                <h2>Watch Video</h2>
                            </div>
                            <div class="kvideo-number">
                                <span>get estimate</span>
                                <a href="tel:6668880000">666 888 0000</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- video area end here -->

    <!-- testimonial area start here -->
    <section class="testimonial-area pt-115 pb-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrapper text-center mb-45">
                        <h5 class="section-subtitle mb-20">client testimonials</h5>
                        <h2 class="section-title mb-35">What they say?</h2>
                    </div>
                </div>
            </div>
            <div class="testimonial-active swiper-container">
                <div class="swiper-wrapper">
                    <div class="ktestimonial mb-30 swiper-slide">
                        <div class="ktestimonial-text">
                            {{post.title}}
                            <p>I was very impresed by the kimox service lorem ipsum is simply free text used by copy
                                typing refreshing. Neque porro est qui dolorem ipsum.</p> 
                        </div>
                        <div class="ktestimonial-author">
                            <div class="ktestimonial-author-img">
                                <!-- <img src="{% if post.feature_image %}{{post.feature_image.url}}{% else %} {% endif %}" class="img-fluid" alt="client-img" style="height:60px;width:60px;margin: top 15pxpx;"> -->
                                <img src="/static/img/testimonial/testimonial-img-2.jpg" class="img-fluid"
                                    alt="client-img">
                            </div>
                            <div class="ktestimonial-author-text">
                                <h5 class="uppercase">bheem</h5>
                                <span class="uppercase">zyneto</span>
                            </div>
                        </div>
                    </div>
                    <div class="ktestimonial mb-30 swiper-slide">
                        <div class="ktestimonial-text">
                            <p>Reliable accessible UI components: :focus styles, content sliders, dark mode, date
                                pickers, navigation, modals, radio buttons Neque porro est qui.</p>
                        </div>
                        <div class="ktestimonial-author">
                            <div class="ktestimonial-author-img">
                                <img src="/static/img/testimonial/testimonial-img-2.jpg" class="img-fluid"
                                    alt="client-img">
                            </div>
                            <div class="ktestimonial-author-text">
                                <h5 class="uppercase">Mike Hardson</h5>
                                <span class="uppercase">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="ktestimonial mb-30 swiper-slide">
                        <div class="ktestimonial-text">
                            <p>Useful CSS tools for animations, border-radius, CSS shadows, cubic-bezier curves, easing
                                gradients, filters, placeholders, CSS Grid.</p>
                        </div>
                        <div class="ktestimonial-author">
                            <div class="ktestimonial-author-img">
                                <img src="/static/img/testimonial/testimonial-img-3.jpg" class="img-fluid"
                                    alt="client-img">
                            </div>
                            <div class="ktestimonial-author-text">
                                <h5 class="uppercase">Sarah Albert</h5>
                                <span class="uppercase">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="ktestimonial mb-30 swiper-slide">
                        <div class="ktestimonial-text">
                            <p>I was very impresed by the kimox service lorem ipsum is simply free text used by copy
                                typing refreshing. Neque porro est qui dolorem ipsum.</p>
                        </div>
                        <div class="ktestimonial-author">
                            <div class="ktestimonial-author-img">
                                <img src="/static/img/testimonial/testimonial-img-4.jpg" class="img-fluid"
                                    alt="client-img">
                            </div>
                            <div class="ktestimonial-author-text">
                                <h5 class="uppercase">Melinda Brown</h5>
                                <span class="uppercase">Customer</span>
                            </div>
                        </div>
                    </div>
                    <div class="ktestimonial mb-30 swiper-slide">
                        <div class="ktestimonial-text">
                            <p>Core Web Vitals, CrUX, Lighthouse, performance budgets, CSS & JavaScript performance,
                                /static optimizations, build optimizations.</p> 
                        </div>
                        <div class="ktestimonial-author">
                            <div class="ktestimonial-author-img">
                                <img src="/static/img/testimonial/testimonial-img-5.jpg" class="img-fluid"
                                    alt="client-img">
                            </div>
                            <div class="ktestimonial-author-text">
                                <h5 class="uppercase">Andrew Tye</h5>
                                <span class="uppercase">Customer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial area end here -->

    <!-- brand area end here -->
    <div class="brand-area pt-100 pb-100">
        <div class="container">
            <div class="brand-active swiper-container">
                <div class="swiper-wrapper align-items-center">
                    <div class="brand-wrapper swiper-slide wow fadeInUp" data-wow-delay=".3s"
                        data-swiper-autoplay="10000">
                        <a href="#"><img src="/static/img/brand/brand-1.png" class="img-fluid" alt="img"></a>
                    </div>
                    <div class="brand-wrapper swiper-slide wow fadeInUp" data-wow-delay=".6s"
                        data-swiper-autoplay="10000">
                        <a href="#"><img src="/static/img/brand/brand-2.png" class="img-fluid" alt="img"></a>
                    </div>
                    <div class="brand-wrapper swiper-slide wow fadeInUp" data-wow-delay=".9s"
                        data-swiper-autoplay="10000">
                        <a href="#"><img src="/static/img/brand/brand-3.png" class="img-fluid" alt="img"></a>
                    </div>
                    <div class="brand-wrapper swiper-slide wow fadeInUp" data-wow-delay="1.2s"
                        data-swiper-autoplay="10000">
                        <a href="#"><img src="/static/img/brand/brand-4.png" class="img-fluid" alt="img"></a>
                    </div>
                    <div class="brand-wrapper swiper-slide wow fadeInUp" data-wow-delay="1.5s"
                        data-swiper-autoplay="10000">
                        <a href="#"><img src="/static/img/brand/brand-5.png" class="img-fluid" alt="img"></a>
                    </div>
                    <div class="brand-wrapper swiper-slide wow fadeInUp" data-wow-delay="1.8s"
                        data-swiper-autoplay="10000">
                        <a href="#"><img src="/static/img/brand/brand-1.png" class="img-fluid" alt="img"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- brand area start here -->

    <!-- trust area start here -->
    <!-- <section class="trust-area pt-105 pb-120">
        <div class="trust-bg" data-background="/static/img/trust/trust-bg.jpg"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="ktrust text-center z-index">
                        <h2 class="ktrust-title mb-45 wow fadeInUp" data-wow-delay=".2s">Trust the Experts for All
                            <br>Your business Needs
                        </h2>
                        <div class="ktrust-btn">
                            <a href="service.html" class="theme-btn">Discover more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

 <section class="blog-area pt-120" data-background="/static/img/blog/blog-bg-1.jpg">
        <div class="blog-space pb-120">
            <div class="blog-text pt-60" data-aos="zoom-in">
                <div class="section-title-wrapper pr-25 mb-50">
                    <h5 class="section-subtitle mb-20">recent blog posts</h5>
                    <h2 class="section-title mb-35">Latest News & Articles</h2>
                    <p class="pr-50">Lorem ipsum onts persp unde omnis iste natus errluptatem acc usantium demque
                        laudantium totam.</p>
                </div>
                <!-- Navigation buttons -->
                <div class="kblog-arrow">
                    <div class="blog-button-prev slide-prev"><i class="far fa-long-arrow-left"></i></div>
                    <div class="blog-button-next slide-next"><i class="far fa-long-arrow-right"></i></div>
                </div>
            </div>

            {% if posts %}
            <div class="blog-active swiper-container">
                <div class="swiper-wrapper">
                    {% for pt in posts %}
                    <div class="kblog swiper-slide">
                        <div class="kblog-img">
                            <a href="{% url 'blog_details' slug=pt.slug %}">
                                <img src="{% if pt.feature_image %}{{ pt.feature_image.url }}{% else %}/static/img/blog/default-image.jpg{% endif %}"
                                    class="img-fluid" alt="{{ pt.title }}">
                            </a>
                            <span>{{ pt.created_at|date:"d M" }}</span>
                        </div>
                        <div class="kblog-text">
                            <div class="kblog-meta">
                                <img src="{% if pt.thumbnail %}{{ pt.thumbnail.url }}{% else %}/static/img/blog/default-thumbnail.jpg{% endif %}"
                                    class="img-fluid" alt="{{ pt.username }}"
                                    style="height:50px;width:50px;border-radius:50px;"> 
                                 {{ pt.username }}
                                 <!-- {{ pt.comments.count }} -->
                            </div>
                            

                            <h3 class="kblog-text-title mb-20">
                                <a href="{% url 'blog_details' slug=pt.slug %}">{{ pt.title }}</a>
                            </h3>


                            <!-- Display Categories -->
                            <div class="kblog-categories mb-10">
                                Categories:
                                <a href="{% url 'blog_details' slug=pt.slug %}">{{ pt.category.title }}</a>{% if not forloop.last %}{% endif %}

                            </div>

                            <!-- Display Tags -->
                            <div class="kblog-tags mb-20">
                                Tags:
                                {% for tag in pt.tags.all %}
                                <!-- {{tag}} -->
                                <a href="{% url 'blog_details' slug=pt.slug %}">{{ tag }}</a>{% if not forloop.last %}{% endif %}
                                {% endfor %}
                            </div> 
                            
                            <p class="kblog-description mb-15">
                                description:
                              <a href="{% url 'blog_details' slug=pt.slug %}" >{{ pt.description }}</a>
                            </p>
                            <div class="kblog-text-link">
                                <a href="{% url 'blog_details' slug=pt.slug %}">Read more <i
                                        class="far fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>
    <!-- blog area end here -->
    <!-- quality area start here -->
    <section class="quality-area pt-120 pb-90 fix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="kquality mb-30" data-aos="zoom-in-right">
                        <div class="kquality-icon">
                            <i class="flaticon-website"></i>
                        </div>
                        <div class="kquality-text fix">
                            <h3 class="mb-20 kquality-text-title">We Deliver the Best Quality</h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered in some form, by injected humour words.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-lg-end mb-30" data-aos="zoom-in-left">
                        <div class="kquality-img">
                            <img src="/static/img/trust/cta-img.jpg" class="img-fluid" alt="cta-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- quality area end here -->

    <!-- map area start here -->
    <div class="map-area">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.91477055202!2d-74.11976321327155!3d40.69740344214894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1621333292938!5m2!1sen!2sbd"
            loading="lazy"></iframe>
    </div>
    <!-- map area end here -->

</main>
{% endblock %}